<div class="main-container">
    <div *ngIf="alert.alertText" class="alert alert-app-level" [ngClass]="'alert-'+alert.alertLevel">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon *ngIf="alert.alertLevel == 'success'" class="alert-icon" shape="check-circle"></clr-icon>
                    <clr-icon *ngIf="alert.alertLevel == 'info'" class="alert-icon" shape="info-circle"></clr-icon>
                    <clr-icon *ngIf="alert.alertLevel == 'warning'" class="alert-icon" shape="exclamation-triangle"></clr-icon>
                    <clr-icon *ngIf="alert.alertLevel == 'danger'" class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    {{alert.alertText}}
                </div>
                <!-- <div class="btn alert-action">Action</div> -->
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <router-outlet></router-outlet>

</div>